* {
    font-family: Arial, Helvetica, sans-serif; 
}

#nameClasse {
    color: aquamarine;
    background-color: cadetblue;
}

article p{
    color: rgb(12, 116, 124);
}

footer {
    text-align: center;
    align-content: end;
    margin-top: 820px;
}