body{
    background-image: url('../IMG/mar2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
 
}

section{
    height: 100vh;
}

img{
    height: 100px;
}

