body{
    background-image: url('../IMG/cachoeira.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}

section {
    height: 100vh;
}

p{
    text-align: justify;
    line-height: 200%;
    color: aliceblue;
}

h1 , h2{
    color: rgb(0, 255, 229);
}