body{
    color: white;
    margin: 5px;
    
}

.box1{
    /* width:100vw; */
    height:100vh; 
    background-color: red;
    margin-bottom: 5px;
    border: 1px solid red;
    
}
.box2{
    /* width: 300vw; */
    height: 100vh;
    background-color:green;
    margin-bottom: 5px;
}
.box3{
    /* width: 50vw; */
    height: 50vh;
    background-color: blue;
   
}